@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0c1022;
    color: #fff;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size:25px ;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.2s all;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: transparent;
    font-size: 19px;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf);
    z-index: -1;
    border-radius: 40px;
}

.social-icons {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.social-icons a {
    display: block;
    margin: 30px 0;
    font-size: 30px;
    color: #c7c7c7;
    transition: 0.2s all;
}

.social-icons a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}

.logo-img {
    position: relative;
    width: 290px;
    height: 325px;
    padding: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg, #f06, #3cf);
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
}